name: FTP Deploy

on:
  push:
    branches:
      - master  # срабатывает при пуше в master

jobs:
  ftp-deploy:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: FTP Deploy
      uses: SamKirkland/FTP-Deploy-Action@v4
      with:
        server: ${{ secrets.FTP_HOST }}
        username: ${{ secrets.FTP_USERNAME }}
        password: ${{ secrets.FTP_PASSWORD }}
        local-dir: ./   # папка с твоим сайтом
        server-dir: /var/www/chatpwa.ru  # путь на сервере
        protocol: sftp   # или ftp
        port: 22

